<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>Header}}

        <p>{{message}}</p>
    </div>
    {{>Footer}}
</body>

</html>